<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AForge" version="2.2.5" targetFramework="net461" />
  <package id="AForge.Imaging" version="2.2.5" targetFramework="net461" />
  <package id="AForge.Imaging.Formats" version="2.2.5" targetFramework="net461" />
  <package id="AForge.Math" version="2.2.5" targetFramework="net461" />
  <package id="Cognitio.ConvNetSharp.Core" version="0.4.10-alpha" targetFramework="net461" />
  <package id="Cognitio.ConvNetSharp.Flow" version="0.4.10-alpha" targetFramework="net461" />
  <package id="Cognitio.ConvNetSharp.Volume" version="0.4.10-alpha" targetFramework="net461" />
  <package id="Cognitio.ConvNetSharp.Volume.GPU" version="0.4.10-alpha" targetFramework="net461" />
  <package id="ManagedCuda-80" version="8.0.22" targetFramework="net461" />
  <package id="ManagedCuda-CudaDNN" version="8.0.22" targetFramework="net461" />
  <package id="ManagedCuda-NVRTC" version="8.0.22" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
</packages>